.filter-country {
  position: relative;
  display: flex;
  line-height: 1.5px;
  justify-content: center;
  color: white;
}

.filter-country label {
  position: relative;
  margin: 2.5px 10px auto;
  font-size: 12px;
  font-weight: 400;
  max-width: 100%;
  left: 53px;
}

#dropdown {
  background-color: transparent;
  font-size: 24px;
  font-weight: 700;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  width: 16rem;
  height: 4rem;
  line-height: 3;
  color: white;
}

option {
  background-color: var(--var-primarycolor);
}
