body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.main-menu {
  overflow: hidden;
  background-color: white;
  font-size: 14px;

  height: 100%;
}
